body
{
    background-color: #24353f;
}
*{
    box-sizing: border-box;
}
.form{
    box-shadow: 0 0 30px 5px black;
}
nav{
    box-shadow: 0 0 20px 5px black !important;
}
nav h2{
    color: white !important;
}
a:hover{
    border-bottom: 1px solid white;
}
::placeholder{
    color: white !important;
}